/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .smile-advisers-logo {
        width: 250px !important;
        height: auto;
    }

    #call-button-top {
        padding-top: 20px;
    }

    .section-btn {
        font-size: 17px;
    }

    .header-navbar-one {
        margin-right: 5%;
        margin-left: 2%;
        height: 160px;
    }

    .bg-image-home .container-fluid {

        background-image: url(../images/banner-1.jpeg);
        width: 100% !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;

    }



    .qualify-rectangle-background h1 {
        font-size: 25px;
     
        /* 
        background-color: white;
        font-family: Heebo;
        margin-left: 10px;
        padding-bottom: 15px;
        padding: 25px;
        height: 350px;
        width: 300px; */

    }

    .qualify-rectangle-background #second-schedule-button {
        font-size: 17px;
        padding: 20px;
    }


    .box-one .qualify-rectangle-background {

        margin-left: -200px;
        padding: 15px;
        width: 290px;
        height: 230px;
        line-height: 1.4;
    }

    #about img {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: auto;
        margin-right: auto;

    }

    #about .center-heading {
        display: none;
    }

    #about .center-heading-two {
        display: contents;
      

    }

    .arrow-schedule-button{ margin-left: -5%;}



    table {

        width: 80% !important;
        padding-right: 30%;
        margin-left: 10%;
    }

    table h3 {
        font-size: 20px;
    }


    #about-overlooked-barrier .center-heading {
        padding-top: 5px;
    }

    .third-center-heading{margin-left:12%; margin-right:12%; padding-bottom:70px;}

    .last-schedule-btn {text-align:center;}
    .credit-score-image img{display: block;
        margin-left: auto;
        margin-right: auto;}
}

/*END OF extra small devices*/


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width:798px) {
    .smile-advisers-logo {
        width: 250px !important;
        height: auto;
    }

    #call-button-top {
        padding-top: 20px;
    }

    .section-btn {
        font-size: 17px;
    }

    .header-navbar-one {
        margin-right: 5%;
        margin-left: 2%;
        height: 160px;
    }

  

    .qualify-rectangle-background h1 {
        font-size: 25px;
        /* 
        background-color: white;
        font-family: Heebo;
        margin-left: 10px;
        padding-bottom: 15px;
        padding: 25px;
        height: 350px;
        width: 300px; */

    }

    .qualify-rectangle-background #second-schedule-button {
        font-size: 17px;
        padding: 20px;
    }


    .box-one .qualify-rectangle-background {

        margin-left: -150px;
        padding: 15px;
        width: 290px;
        height: 230px;
        line-height: 1.4;
    }

    #about img {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: auto;
        margin-right: auto;

    }

    #about .center-heading {
        display: none;
    }

    #about .center-heading-two {
        display: contents;
      

    }

    .arrow-schedule-button{ margin-left: -5%;}



    table {

        width: 80% !important;
        padding-right: 30%;
        margin-left: 10%;
    }

    table h3 {
        font-size: 20px;
    }


    #about-overlooked-barrier .center-heading {
        padding-top: 5px;
    }

    .third-center-heading{margin-left:12%; margin-right:12%; padding-bottom:70px;}

    .last-schedule-btn {text-align:center;}
    .credit-score-image img{display: block;
        margin-left: auto;
        margin-right: auto;}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .smile-advisers-logo {
        width: 250px !important;
        height: auto;
    }

    #call-button-top {
        padding-top: 20px;
    }

    .section-btn {
        font-size: 17px;
    }

    .header-navbar-one {
        margin-right: 5%;
        margin-left: 2%;
        height: 160px;
    }

  

    .qualify-rectangle-background h1 {
        font-size: 25px;
        /* 
        background-color: white;
        font-family: Heebo;
        margin-left: 10px;
        padding-bottom: 15px;
        padding: 25px;
        height: 350px;
        width: 300px; */

    }

    .qualify-rectangle-background #second-schedule-button {
        font-size: 17px;
        padding: 20px;
    }


    .box-one .qualify-rectangle-background {

        margin-left: -150px;
        padding: 15px;
        width: 290px;
        height: 230px;
        line-height: 1.4;
    }

    #about img {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: auto;
        margin-right: auto;

    }

    #about .center-heading {
        display: none;
    }

    #about .center-heading-two {
        display: contents;
      

    }

    .arrow-schedule-button{ margin-left: -5%;}



    table {

        width: 80% !important;
        padding-right: 30%;
        margin-left: 10%;
    }

    table h3 {
        font-size: 20px;
    }


    #about-overlooked-barrier .center-heading {
        padding-top: 5px;
    }

    .third-center-heading{margin-left:12%; margin-right:12%; padding-bottom:70px;}

    .last-schedule-btn {text-align:center;}
    .credit-score-image img{display: block;
        margin-left: auto;
        margin-right: auto;}

    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .smile-advisers-logo {
        width: 250px !important;
        height: auto;
    }

    #call-button-top {
        padding-top: 20px;
    }

    .section-btn {
        font-size: 17px;
    }

    .header-navbar-one {
        margin-right: 5%;
        margin-left: 2%;
        height: 160px;
    }

  

    .qualify-rectangle-background h1 {
        font-size: 25px;
        /* 
        background-color: white;
        font-family: Heebo;
        margin-left: 10px;
        padding-bottom: 15px;
        padding: 25px;
        height: 350px;
        width: 300px; */

    }

    .qualify-rectangle-background #second-schedule-button {
        font-size: 17px;
        padding: 20px;
    }


    .box-one .qualify-rectangle-background {

        margin-left: -150px;
        padding: 15px;
        width: 290px;
        height: 230px;
        line-height: 1.4;
    }

    #about img {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: auto;
        margin-right: auto;

    }

    #about .center-heading {
        display: none;
    }

    #about .center-heading-two {
        display: contents;
      

    }

    .arrow-schedule-button{ margin-left: -5%;}



    table {

        width: 80% !important;
        padding-right: 30%;
        margin-left: 10%;
    }

    table h3 {
        font-size: 20px;
    }


    #about-overlooked-barrier .center-heading {
        padding-top: 5px;
    }

    .third-center-heading{margin-left:12%; margin-right:12%; padding-bottom:70px;}

    .last-schedule-btn {text-align:center;}
    .credit-score-image img{display: block;
        margin-left: auto;
        margin-right: auto;}
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}