body {
  font-family: 'Heebo', sans-serif;
  width: 100%;
}

.center-heading-two {
  display: none;


}

#header-top-second {
  display: none;
}

.section-btn {
  background: #86c342;
  color: #ffffff;
  font-size: 25px;
  font-weight: 200;
  padding: 15px 30px;
  transition: 0.5s;
  margin-top: 10px;
  font-family: Heebo;
}

.button_button {
  margin-top: 50px;
}

/* #section-btn-about {
  font-size: 17px;
  padding-right: 30px;
  padding-left: 30px;
  font-family: Heebo;

} */

#section-btn-about {
  position: relative;
  margin-left: 10px;
  z-index: 999;
  font-size: 20px;

}

/*
#call-button-top {
  margin-top: 60px;
}*/

.section-btn:hover {
  background: #63942b;
  border-color: transparent;
}

.header-navbar-one {
  height: 230px;
  max-width: 100vw;
  margin-right: 5%;
  margin-left: 5%;
  padding-top: 50px;
  padding-bottom: 30px;
}

.smile-advisers-logo {
  width: 500px;

}

#call-button-top {
  padding-top: 50px;
  text-align: right;

}

.bg-image-home .container-fluid {
  background-image: url(../images/banner-1.jpeg);
  width: 100% !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1180px;



}


.qualify-rectangle-background {
  background-color: white;
  font-family: Heebo;
  margin-left: 10%;
  margin-top: 10%;
  padding: 30px;
  padding-left: 60px;
  padding-top: 50px;
  height: 375px;
  width: 550px;




}


.box-one {
  margin-left: 200px;
  margin-top: 200px;
  line-height: 2.1;


}

#about {
  background-color: #191919;
  color: #fff;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.credit-score-image {
  padding-left: -20%;
  float: right;
  align-items: right;
}

.center-heading {
  padding-top: 10px;
  padding-bottom: 80px;
  font-family: heebo;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.rectangle {
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  width: 500px;
  background-color: #86c342;
}

.about-info {
  font-family: Montserrat;
  text-align: left;
  margin-right: 15%;

}

.about-info2 {
  font-family: Montserrat;
  text-align: left;
  margin-left: 0%;


}

.arrow-schedule-button {
  margin-left: 20%;
}

.arrow-btn-align {
  margin-left: 30px;
}



table,
th,
td {
  border: 0px;
}

td {

  width: 10px;
  vertical-align: top;
}



#about-overlooked-barrier {
  text-align: center;
}

#about-overlooked-barrier {
  padding-top: 90px;

}


/* #about-overlooked-barrier .center-heading {
  font-family: Heebo;
} */

#about-overlooked-barrier h3 {
  font-family: Heebo;
}



.center-text {
  margin-top: -50px;
  text-align: center;
  font-family: Montserrat;

}

.credit-score-image img {
  width: auto;
  height: 500px;
  margin-left: 35%;
}

.center-text p {
  margin-right: 37%;
  margin-left: 37%;
  font-size: 20px;

}

.center-text .subheading-one {
  font-family: Heebo;
}



#solidbar-section {
  margin-top: 5%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #191919;
  color: #fff;
  text-align: center;
}

.second-center-heading h2 {
  font-family: Heebo;

}

.third-center-heading {
  font-family: Heebo;
  padding-top: 50px;
  text-align: left;
  margin-left: 30%;
  margin-right: 30%;

  padding-bottom: 50px;
}


.about-info {

  margin-right: 55%;
}

.about-info p {
  font-family: Montserrat;
  font-size: 20px;

}

.about-info2 {
  font-family: Montserrat;
  text-align: left;
  font-size: 20px;
  margin-left: 60%;

}

.last-schedule-btn {
  padding-top: 50px;
  padding-bottom: 50px;
}

.button_button2 {
  display: none;
}

#footer {
  margin-top: 60px;
  background-color: #191919;
  color: #fff;
  height: 300px;

}

.footer-text {
  font-family: Montserrat;
  padding-top: 80px;
  font-size: 20px;

}

a:link {
  text-decoration: none !important;
  color: #fff !important;
}

a:visited {
  text-decoration: none !important;
  color: #fff !important;
}

a:hover {
  text-decoration: none !important;
  color: #121212 !important;


}

a:active {
  text-decoration: none !important;
  color: #fff !important;
}


@media screen and (min-width: 1489px) {
  #call-button-top {
    margin-top: -120px;
  }
}

@media screen and (max-width: 1707px) and (min-width: 1000px) {

  .third-center-heading {
    margin-left: 15%;
    margin-right: 15%;
  }

  .about-info2 {
    margin-left: 15%;
    margin-right: 15%;
  }
}