/*

Known Template

https://templatemo.com/tm-516-known

*/

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Montserrat&display=swap');


body {
  background: #ffffff;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  padding-top: 70px;
}


/*---------------------------------------
     TYPOGRAPHY
  -----------------------------------------*/

h1,
h2,
h4,
h6 {
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  line-height: inherit;
}

h3,
h5,
li {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: inherit;
}

h1 {
  color: #252525;
  font-size: 3em;
  line-height: normal;
}

h2 {
  color: #ffffff;
  font-size: 2em;
  padding-bottom: 10px;
}

h3 {

  color: #fff;
  padding-left: 30px;
  font-size: 23px;
  padding-right: 50px;
  font-weight: 500;
  text-align: justify;
}


p {
  color: #191919;
  font-size: 23px;
  font-weight: normal;
  line-height: 33px;
  text-align: justify;
}

h4 {
  color: #000000;
  font-size: 40px;
  line-height: 45px;
  padding: 20px;
  font-weight: 800;

}

h5 {

  color: #000000;
  padding-left: 30px;
  font-size: 23px;
  padding-right: 50px;
  font-weight: 500;
  text-align: justify;
}

h6 {
  color: #252525;
  font-size: 25px;
  line-height: normal;
}

ol {
  color: white;
  font-size: 20px;

}

/*---------------------------------------
     GENERAL
  -----------------------------------------*/

html {
  -webkit-font-smoothing: antialiased;
}

a {
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;

}

a,
input,
button,
.form-control {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #29ca8e;
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #000000;
}



.section-title h2 {
  margin: 0;
}

.section-title small {
  display: block;
}

.overlay {
  background: rgba(20, 20, 20, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


section {
  position: relative;
  padding: 100px 0;
}



/*---------------------------------------
     BUTTONS
  -----------------------------------------*/

.section-btn {
  background: #86c342;
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  padding: 15px 30px;
  transition: 0.5s;
  margin-top: 10px;
}

#call-button-top {
  margin-top: 60px;
}

.section-btn:hover {
  background: #63942b;
  border-color: transparent;
}



/*---------------------------------------
       PRE LOADER
  -----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 3px;
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 1px solid #575757;
  border-top-color: #ffffff;
  animation: spinner .9s linear infinite;
}

@-webkit-@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}



/*---------------------------------------
      MENU
  -----------------------------------------*/

.custom-navbar {
  background: #ffffff;
  border-bottom: 0;
  -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
  margin-bottom: 0;
  padding: 0;
}




/*---------------------------------------
      HOME  & SLIDER
  -----------------------------------------*/

/*NEW*/
/*
.bg-image-home .container {
  background-image: url(../images/banner-1.jpeg);
  width: 100% !important;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  height: 80vh;


}
*/

.container .bg-image-home {
  width: 100vw;
  object-fit: cover;
  /*height: auto;*/

}

/*NEW*/

#home {
  padding: 0;
}

#home h1 {
  color: #000000;
}

#home h3 {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 5px 0 40px 0;
}

/*
@media (min-width: 768px) {
  .home-slider .col-md-6 {
    padding-left: 0;
  }
}*/

.home-slider .caption {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  background-color: rgba(20, 20, 20, 0.2);
  height: 100%;
  width: 100%;
  cursor: e-resize;
}

.home-slider .item {
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  width: 1180px !important;
  height: 1180px;
}

.caption h3 a {
  color: #FFF;
}

.caption h3 a:hover {
  color: #FF3;
}

.home-slider .item-first {
  background-image: url(../images/banner-1.jpeg);
  background-position: center;
  width: 100%;

}

.home-slider .container {
  background: #ffffff;
  /*max-width: 525px;*/
  width: 250%;
  padding: 50px;
  overflow: auto;
  float: left;
  margin-left: 300px;
}






/*---------------------------------------
      FEATURE
  -----------------------------------------*/

.feature-thumb {
  border: 1px solid #f0f0f0;
  padding: 5em 3em;

}

.feature-thumb span {
  background: #3f51b5;
  border-radius: 50px;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 200px;
}

.feature-thumb h3 {
  margin: 10px 0;
}



/*---------------------------------------
     FOOTER
  -----------------------------------------*/

footer {
  background: #191919;
  padding: 20px 0;
}

footer .section-title {
  padding-bottom: 10px;
}

footer h2 {
  font-size: 20px;
}

footer a,
footer p {
  color: #909090;
}

footer strong {
  color: #d9d9d9;
}

footer address p {
  margin-bottom: 0;
}

footer .social-icon {
  margin-top: 25px;
}

footer h3 {
  float: center;
}

.footer-info {
  margin-right: 2em;
}

.footer-info h2 {
  color: #ffffff;
  padding: 0;
}

.footer_menu h2 {
  margin-top: 2em;
}

.footer_menu ul {
  margin: 0;
  padding: 0;
}

.footer_menu li {
  display: inline-block;
  list-style: none;
  margin: 5px 10px 5px 0;
}



/*---------------------------------------
     RESPONSIVE STYLES
  -----------------------------------------*/

@media screen and (min-width: 1200px) {
  .custom-navbar .navbar-nav.navbar-nav-first {
    max-width: 100%;
  }
}

@media only screen and (max-width: 992px) {

  section,
  footer {
    padding: 20px 0;
  }

  .home-slider .item {
    background-position: center center;
  }

  .feature-thumb,
  .about-info,
  .team-thumb,
  .footer-info {
    margin-bottom: 50px;
  }

  .contact-image {
    margin-top: 50px;
  }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .custom-navbar .nav li a {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 1em;
  }

  h1,
  h2,
  h3 {
    line-height: normal;
  }

  .custom-navbar {
    background: #ffffff;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    text-align: center;
  }

  .custom-navbar .navbar-brand,
  .custom-navbar .nav li a {
    line-height: normal;
  }

  .custom-navbar .nav li a {
    padding: 10px;
  }

  .custom-navbar .navbar-brand,
  .top-nav-collapse .navbar-brand {
    color: #252525;
    font-weight: 600;
  }

  .custom-navbar .nav li a,
  .top-nav-collapse .nav li a {
    color: #575757;
  }

  .custom-navbar .navbar-nav.navbar-right li {
    display: inline-block;
  }

  .footer-info {
    margin-right: 0;
  }

  .footer-info.newsletter-form {
    margin-bottom: 0;
  }

  .entry-form {
    display: block;
    margin: 0 auto;
  }
}


@media only screen and (max-width: 580px) {
  h2 {
    font-size: 1.8em;
  }

  #testimonial .item {
    padding: 2em;
  }

  .contact-image {
    margin-top: 0;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2em;
  }

  #home h3 {
    font-size: 14px;
  }

  .entry-form {
    border-radius: 0;
    padding: 2em;
    max-width: 100%;
    max-height: 100%;
    width: inherit;
    height: inherit;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



/* about section */
#about h2 {
  margin-top: 0px;
}

#about .about-thumb {
  padding-top: 15px;
}

#about {
  background-color: #191919;
}

/* about section */
#about2 h2 {
  margin-top: 0px;
}

#about2 .about-thumb {
  padding-top: 15px;
}

#about2 {
  background-color: #ffffff;
}





.carousel .carousel-item {
  color: #999;
  overflow: hidden;
  min-height: 120px;
  font-size: 13px;
}

.carousel .media img {
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 50%;
}

.carousel .testimonial {
  padding: 0 15px 0 60px;
  position: relative;
}

.carousel .testimonial::before {
  content: "\201C";
  font-family: Arial, sans-serif;
  color: #e2e2e2;
  font-weight: bold;
  font-size: 68px;
  line-height: 54px;
  position: absolute;
  left: 15px;
  top: 0;
}

.carousel .overview b {
  text-transform: uppercase;
  color: #1c47e3;
}

.carousel .carousel-indicators {
  bottom: -40px;
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 1px 3px;
  box-sizing: border-box;
}

.carousel-indicators li {
  background: #e2e2e2;
  border: 4px solid #fff;
}

.carousel-indicators li.active {
  color: #fff;
  background: #1c47e3;
  border: 5px double;
}


.register-photo .image-holder {
  display: table-cell;
  width: auto;
  background: url(../images/pricingguide-1.jpg);
  background-size: cover
}

.register-photo .form-container {
  display: table;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
}

.register-photo form {
  display: table-cell;
  width: 400px;
  background-color: #ffffff;
  padding: 40px 60px;
  color: #505e6c
}

@media (max-width:991px) {
  .register-photo form {
    padding: 40px
  }
}

.register-photo form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px
}

.register-photo form .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 0px;
  height: 40px
}



.register-photo form .btn-primary {
  background: DD4A48;
  border: none;
  border-radius: 7px;
  padding: 10px;
  box-shadow: none;
  margin-top: 35px;
  text-shadow: none;
  outline: none !important;

}

.register-photo form .btn-primary:hover,
.register-photo form .btn-primary:active {
  background: green
}

.register-photo form .btn-primary:active {
  transform: translateY(1px)
}

.register-photo form .already {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none
}




.center-heading {
  text-align: center;
}

.center-heading .section-title {
  font-weight: 500;
  font-size: 40px;
  color: #ffffff;
  letter-spacing: 1.75px;
  line-height: 38px;
  margin-bottom: 10px;

}



.center-heading.colored .section-title {
  color: #ffffff;
}

.center-text {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #777;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 50px;
  padding-left: 250px;
  padding-right: 250px;
}

.center-text.colored {
  color: #fff;
}

.center-text p {
  font-size: 15px;
  color: #777;
  margin-bottom: 30px;
  text-align: center;
}

center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}